<div>
    <div class="row" style="min-height: 7rem;" *ngFor="let task of tasks; trackBy: task?.id;">
        <div style="background-color: #d9dce0; min-height: 6rem;font-weight: 400;position: relative">
            <div>
                <span class="col-sm-7">{{task.description}}</span>
                <span class="col-sm-2">{{task.taskStatus}}</span>
                <span class="col-sm-3">{{task.createdOn | date:'MM/dd/yy' | uppercase}}</span>
            </div>
            <div style="position: absolute; bottom:0;">
                <span class="col-sm-1">
                    <i style="cursor: pointer" (click)="editTask(task)" class="glyphicon glyphicon-edit" 
                        title="Click to edit task"></i>
                </span>
                <span class="col-sm-1">
                    <i style="cursor: pointer" (click)="showDeleteModal(task)" class="glyphicon glyphicon-trash" 
                        title="Click to delete task"></i>
                </span>
                <span class="col-sm-1">
                    <i *ngIf="task.taskStatus == 'Pending'" style="cursor: pointer" (click)="showCompleteModal(task)" 
                        class="glyphicon glyphicon-ok" title="Click to complete task"></i>
                </span>
            </div>
        </div>
    </div>
    <!--Delete confirmation box-->
    <div class="modal fade" bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}"
        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Please Confirm</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{delMsg}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="deleteModal.hide()">Cancel</button>
                    <button type="button" (click)="deleteTask()" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Complete confirmation box-->
    <div class="modal fade" bsModal #completeModal="bs-modal" [config]="{backdrop: 'static'}"
        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Please Confirm</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="completeModal.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{completeMsg}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="completeModal.hide()">Cancel</button>
                    <button type="button" (click)="updateTask()" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <a routerLink="input">Create New Task</a>
        </div>
  </div>
</div>