<div>
  <carousel>
    <slide>
      <img class="img-responsive" src="assets/images/first_step.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>Task Management</h3>
        <p> <a routerLink="/household">Click here</a> to manage task</p>
      </div>
    </slide>
    <slide>
      <img class="img-responsive" src="assets/images/second_step.jpg" alt="Second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img class="img-responsive" src="assets/images/third_step.jpg" alt="Third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
</carousel>
</div>